{% load i18n %} 
{% block content %}
<html class="full" lang="en">
<title>Kirt</title>
{% block extrastyle %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flatty.css">
    <script src="{{ STATIC_URL }}js/pace.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/humane.min.js"></script>

    <script type="text/javascript">
$(document).ready(function(){ 
  document.getElementById('id_username').focus()
  $('form').find("input[type=textarea], input[type=password], textarea").each(function(ev)
  {
      if(!$(this).val()) { 
     $(this).attr("placeholder", "Password");
  }
  });
  $('form').find("input[type=textarea], input[type=text], textarea").each(function(ev)
  {
      if(!$(this).val()) { 
     $(this).attr("placeholder", "Username");
  }
  });
});
    </script>
{% endblock %}
<body>


  {% if form.errors %}
    <script>
    $(document).ready(function(){
      $('#id_username').addClass('errorClass');
      $('#id_password').addClass('errorClass');
      humane.log('Please fill valid Username/Password', {timeout: 5000} );
      $('#id_username').on('input', function(){  
        $('#id_username').removeClass('errorClass');
        $('#hide').hide();
      })
      $('#id_password').on('focus', function(){  
        $('#id_password').removeClass('errorClass');
        $('#hide1').hide();
      })
    })
    </script>
  {% endif %}

<div class="circle" ></div>
<div class="transparent" >
    <div class="center-block-square">
    <a style="text-decoration:none" href="{% url 'src.views.index' %}"> 
    <span class="pb-dark">K</span><span class="pb-light">irt</span></a>

    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}

      <div class="form-row">
      {{ form.username }}
      </div>

      {% if form.errors %}
      <i id="hide" class="glyphicon glyphicon-exclamation-sign" style="position: absolute;
      top: 162px; right:23%; color: #a94442;"></i>
      {% endif %}	
  
      <div class="form-row">
      {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}" />
      </div>

      {% if form.errors %}
      <i id="hide1" class="glyphicon glyphicon-exclamation-sign" style="position: absolute;
      top: 191px; right:23%; color: #a94442;"></i>
      {% endif %}

      {% url 'admin_password_reset' as password_reset_url %}

      {% if password_reset_url %}
      <div class="password-reset-link">
      <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
      </div>
      {% endif %}

      <div class="submit-row">
      <input type="submit" value="{% trans 'Log in' %}" />
      <a href="/signup" > Sign up? </a>
      </div>
  </form>

</div>
</div>
</body>
</html>
{% endblock %}
