{% extends "base_not_logged_in.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                	<h3>Registeration</h3>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        Uh Oh! Something went wrong. Try again. 
                    </div>
                    {% endif %}

    				<form action="" method="post">
        			{% csrf_token %}
        				<div class="form-group">
        				<input id="id_username" class="form-control" placeholder="Username" maxlength="20" name="username" type="text" />
        			</div>
        			<div class="form-group">
        				<input id="id_email" class="form-control" placeholder="Email Id" maxlength="50" name="email" type="email" />
        			</div>
        			<div class="form-group">
						<input id="id_password" class="form-control" placeholder="Password" maxlength="20" name="password" type="password" />
					</div>
					<div>
						<input id="id_password_confirmation" class="form-control" placeholder="Confirm Pasword" maxlength="20" name="password_confirmation" type="password" />
					</div>
					<br>
        				<input type="submit" class="btn btn-info btn-large btn-block" value="Create account">
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
   </div>
{% endblock %}
