{% extends "base_not_logged_in.html" %}

{% block title %} Success {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/form.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="center">
        <h4> Congratulations! Your account has been setup. You are ready to 
        <a href="{% url 'src.views.index' %}"> Login</a> </h4>
    </div>
</div>
{% endblock %}


