{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Promotions {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/particulars.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/backbutton.css">

{% endblock %}

<style>
.ui-dialog-titlebar-close {
display: none;
}
</style>

{% block content %}
<div class="container"> 
  <div class="inner" style="width:80%; display:block; margin-left: auto; margin-right: auto;">
    <div class="font"> 
      <div class="row">
        <div class="col-md-6"> <h3 style ="color:#428BCA"> <a href="{% url 'src.views.index' %}" class="glyphicon glyphicon-chevron-left small"> </a>Promotions: {{date}} </h3> 
        </div>
      </div> 
      <hr> 
      <div class="row">  
      </div>
      {% for value in worker_details %}
        
        <form action="" method="">
          <div class="text-left"> 
            <div class="col-sm-6 col-md-4 col-lg-5">{{value.id}}{% if value.middle_name == "" %}
                                           {{value.first_name}} {{value.last_name}}
                                           {% else %}
                                           {{value.first_name}} {{value.middle_name}} {{value.last_name}}
                                           {% endif %}
            </div>
            <div class="clearfix visible-sm-block">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <input type="number" data-toggle=tooltip title="Change the input field to revise this salary" id="promotion_{{value.id}}" class="promotion" value = {{value.basic_wage}}>
            </div>
            <div class="clearfix visible-sm-block">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 up" style="bottom: 6px;">             
            <a href="#" id="old_{{value.id}}" data-toggle="modal" 
              onclick="return popitup('{% url 'src.views.previous_promotions' %}?worker_id={{value.id}}')"> <i> <img src="/static/images/Find-Previous.png"> </i> </a>  
            </div>   
            <div class="clearfix visible-sm-block">
            </div>

            {# Just to add horizontal line for separation on medium and extra small screens #}
            <span class="visible-xs-block visible-sm-block">
            <hr> 
            </span>
          </div>           
        </form>
      {% endfor %}
    </div>
  </div>
</div>


<div id="dialog-form"></div>
     

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="previous">  

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn close"  data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extrajs %}
   <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/promotions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script language="javascript" type="text/javascript">


function popitup(url) {
$.ajax({
  url: url,
  success: function(data) {
$("#previous").html(data);
$('#myModal').modal('show');
$("#dialog-form").keyup(function(e) {

})
    }
  });   
  return false;
}

</script>

<script type="text/javascript">
    var reverseurl = "{% url 'src.views.jsreverse' %}";

    function reverse(urlstring, callback) {
        if (typeof callback != "function") {
            return false;
            }
            
        $.get(reverseurl + "?string=" + urlstring, callback);
            }
</script>

{% endblock %}
