{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>	
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">	
    {% block extrastyle %}{% endblock %}
</head>
<body vlink="#000">
    <header>
        
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar navbar-custom navbar-default navbar-fixed-top">    
                <a class=" navbar-brand nounderline" href="{% url 'src.views.index' %}">Kirt</a>
                    <div class="navbar-right"> 
                        {# Keeps the following div to right at small screen as well. Can use xs, sm styles etc here. #}
                        <div class="nav navbar-nav">
                            <a href="{% url 'src.views.index' %}" class="nounderline"> Sign in</a>
                            {#<a href="{% url 'admin:index' %}" class="nounderline">Admin panel</a>#}
                            {#<a href="{% url 'admin:password_change' %}" class="nounderline">Change Password</a>#}
                            {#<a href="{% url 'src.views.my_logout' %}" class="nounderline">Logout</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       {% block header %} {% endblock header %}
    </header>
    {% block content %}{% endblock %}
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'js/pace.js' %}"></script> 
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    
    {% block extrajs %}
    {% block extrahead %}
    <script type="text/javascript">
    var reverseurl = "{% url 'src.views.jsreverse' %}";

        function reverse(urlstring, callback) {
            if (typeof callback != "function") {
                return false;
            }
            
            $.get(reverseurl + "?string=" + urlstring, callback);
        }
    </script>
    {% endblock %}
    {% endblock %}
</body>
</html>
